@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


ul{
    font-size:1.2em;
    list-style: none;
    line-height: 2em;
    
    padding-left:0;
}

ul  li:hover{
    color:royalblue;
text-indent: 3px;   
}

.notes-board {
    float: right;
    height: 100vh;
    width: 40%;
    position: relative;  
    box-sizing: border-box;
    padding:2%;
    text-decoration: none; 
    
  }
.highlight-link{
   position: absolute;
    right: 2.5vw;
    bottom: 4vh;
    color: white;
    display:none;
}
.spotlight{
    position: absolute;
    display: flex;    
/*    height: 50vh;*/
    min-height: 10vw;
    width: 20vw;
    background: white;
    bottom: 3vh;
    right: 3vw;
    font-size: 1.2vw;
    color: black;
    border: 2px dashed black;
    line-height: 1.7em;
    font-family: "Courier New", Courier, monospace;

}

.spotlight > p {
    margin: 0.5vw 0.5vh;
    text-align: left;
}

.grid-item>button{
    width:10vw;
    margin-top:2vh;
    border-radius: 0;
    padding:2vh;
    box-shadow: none;
    border:none;
  


}

.grid-item>button:hover{
background:royalblue;
}



.grid-item{
    font-size:1.2em;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding:5%;
  color: white;
  
    box-sizing: border-box;  
   
    background-image: url("space.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
      display: flex;
      flex-direction: column;
      justify-content:  flex-end;
    
/*    font-family: 'Rubik Mono One', sans-serif;*/
    font-family: 'Amatic SC', cursive;
    font-size: 2.5vw;
    
   
}

.grid-wrapper{    
    float:left;
    width:60%;
    height: 100vh;  
    
  
  display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-columns:1.5fr 1fr 1fr 1fr 2fr);
 grid-template-areas:
    
    'menu main main main main'
    'menu footer footer footer right'
     'header header header header header';
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
    
 
  
/*
  min-height: 0; 
  min-width: 0; 
*/
}




body{
    
    margin: 0;
    position: relative;  

    
}