ul{
    font-size:1.2em;
    list-style: none;
    line-height: 2em;
    
    padding-left:0;
}

ul  li:hover{
    color:royalblue;
text-indent: 3px;   
}

.notes-board {
    float: right;
    height: 100vh;
    width: 40%;
    position: relative;  
    box-sizing: border-box;
    padding:2%;
    text-decoration: none; 
    
  }
.highlight-link{
   position: absolute;
    right: 2.5vw;
    bottom: 4vh;
    color: white;
}
.spotlight{
    position: absolute;
    height: 60vh;
    width: 20vw;
    background: black;
    bottom: 3vh;
    right: 3vw;
    color: white;
    line-height: 1.7em;

}

.spotlight > p {
    margin: 20px;
}




.grid-item{
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
    background-image: url("space.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

.grid-wrapper{    
    float:left;
    width:60%;
    height: 100vh;  
    
  
  display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
 grid-template-areas:
    
    'menu main main main main'
    'menu footer footer footer right'
     'header header header header header';
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  
    
}




body{
    
    margin: 0;
    position: relative;  

    
}